﻿@page "/videos"
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.Text
@inject IHttpClientFactory ClientFactory

<PageTitle>Videos</PageTitle>

<h1>Vidoes are here</h1>

<button class="btn btn-primary" @onclick="GrabVideos">Grab Videos</button>

<video controls 
       preload="auto"
       autoplay
       muted
       playsinline
       loop>
    <source src="/media/video/m4v/Alabama Shakes - Austin City Limits.m4v"/>
</video>

<h2>List of Videos</h2>
@if (videosList == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <ul>
        @foreach (var vidEntry in videosList)
        {
            <li>@vidEntry.FilePath</li>
        }
    </ul>
}


@code {
    private IEnumerable<VideoEntry> videosList = Array.Empty<VideoEntry>();
    private bool getVideosError;

    public async Task GrabVideos()
    {
        var request = new HttpRequestMessage(HttpMethod.Get, "http://localhost:5082/api/videos");
        request.Headers.Add("User-Agent", "Media Tool");
        var client = ClientFactory.CreateClient();
        var response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            using var responseStream = await response.Content.ReadAsStreamAsync();
            videosList = await JsonSerializer.DeserializeAsync<IEnumerable<VideoEntry>>(responseStream);
        }
        else
        {
            getVideosError = true;
        }
    }

    public class VideoEntry
    {
        [JsonPropertyName("filePath")]
        public string FilePath { get; set; }
    }
    
    

}